<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{- if eq .Section "posts" }}
    <title>{{ .Title }} • {{ .Site.Title }}</title>
    <meta name="description" content="review on Mostly Overstatements • a Music blog">
    <meta property="og:title" content="{{ .Title }} • {{ .Site.Title }}">
    <meta property="og:description" content="review on Mostly Overstatements • a Music blog">
    <meta property="og:url" content="{{ .Permalink }}">
    {{- else }}
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:url" content="https://mostlyoverstatements.com/">
    {{- end }}
    <meta property="og:image" content="https://mostlyoverstatements.com/social-card.png">
    <meta property="og:type" content="website">

    <link href="{{ .Site.BaseURL }}main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet">

    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
