{{ define "main" }}

<main class="entries">
    {{ range (.Paginate .Pages).Pages }}
        <div class="entries-item">
            <h2>{{ .Title }}</h2>
            <div class="entries-item-video">
                <div data-id="{{ .Params.YoutubeId }}" class="entries-item-video-placeholder">
                    <img src="https://i.ytimg.com/vi/{{ .Params.YoutubeId }}/hqdefault.jpg" alt="video thumbnail">
                </div>
            </div>
            <div class="entries-item-date">
                <a href="{{ .Permalink }}">
                    Published on <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
                </a>
            </div>
        </div>
    {{ end }}
</main>

<div class="pagination">
    <div class="pagination-body">
        <div class="paginator-body-prev">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}">← Newer</a>
            {{ end }}
        </div>

        <div class="pagination-body-current">{{ .Paginator.PageNumber }}</div>

        <div class="pagination-body-next">
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}">Older →</a>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}
