{{ define "main" }}

<main class="entry">
    <h2>{{ .Title }}</h2>
    <div class="entry-video">
        <div data-id="{{ .Params.YoutubeId }}" class="entries-item-video-placeholder">
            <img src="https://i.ytimg.com/vi/{{ .Params.YoutubeId }}/hqdefault.jpg" alt="video thumbnail">
        </div>
    </div>
    <div class="entry-date">
        <a href="{{ .Permalink }}">
            Published on <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
        </a>
    </div>
</main>

{{ end }}
